{% extends "layouts/main-internal.html" %}

{% set pageName="Conditions" %}
{% set licence = data['licences'][data.ID] %}
{% set breadcrumbType="licenceChild" %}
{% set conditions = true %}


{% block containerStart %}
{% include "_includes/breadcrumbs-internal.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">
    {% include "_includes/subnav-internal-licence.html" %}
    </div>

    <div class="govuk-grid-column-three-quarters">

      <span class="govuk-caption-l">Licence {{ licence.number }}</span>
      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      {{ govukWarningText({
        text: "We may not be able to show a full list of the conditions, because we do not hold all of the licence information on our system yet. You should refer to the paper copy of the licence to view all conditions."
      }) }}

      <p class="govuk-body-l">Showing {{ licence.absConditions | length | plural("type") }} of further {{ licence.absConditions | length | plural("condition", showNumber=false) }}</p>

      {% for condition in data.licences[data.ID].absConditions %}

      {% if condition.type == "General condition" %}

        {{ govukSummaryList({
          card: {
            title: {
              text: condition.type
            }
          },
          rows: [
            {
              key: {
                text: "Abstraction point"
              },
              value: {
                html: data.licences[data.ID].absPoints[condition.pointsIndex]
              }
            },
            {
              key: {
                text: "Purpose"
              },
              value: {
                html: data.licences[data.ID].purpose[condition.purposeIndex]
              }
            },
            {
              key: {
                text: "Other information"
              },
              value: {
                html: condition.text
              }
            }
          ]
        }) }}

        {% else %}

        {{ govukSummaryList({
          card: {
            title: {
              text: condition.type
            }
          },
          rows: [
            {
              key: {
                text: "Abstraction point"
              },
              value: {
                html: data.licences[data.ID].absPoints[condition.pointsIndex]
              }
            },
            {
              key: {
                text: "Purpose"
              },
              value: {
                html: data.licences[data.ID].purpose[condition.purposeIndex]
              }
            },
            {
              key: {
                text: "Monitoring station"
              },
              value: {
                html: condition.param1
              }
            },
            {
              key: {
                text: "Threshold"
              },
              value: {
                html: condition.param2
              }
            },
            {
              key: {
                text: "Other information"
              },
              value: {
                html: condition.text
              }
            }
          ]
        }) }}
        {% endif %}

      {% endfor %} 

    </div>

  </div>
{% endblock %}

