{% extends "layouts/main-internal.html" %}

{% set licence = data['licences'][data.ID] %}

{% block containerStart %}
{{ govukBackLink({
  href: "/internal/licence/history?ID=" + data.ID,
  text: "Back to history"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

      <span class="govuk-caption-l">{{ licence.number }}</span>
      <h1 class="govuk-heading-l">
        Licence version starting {{ data.licences[data.ID]['changeLog'][data.versionIndex].startDate | govukDate }}
      </h1>

      <p class="govuk-body">If you find errors in this data, email: <a href="#">water_abstractiondigital@environment-agency.gov.uk</a></p>

      <ul class="govuk-list">
        <li>
          Licence details
        </li>
        <li>
          Points
        </li>
        <li>
          Purposes, periods and amounts
        </li>
        <li>
          Conditions
        </li>
      </ul>

      <h2 class="govuk-heading-l">Licence details</h2>


    </div>

  </div>
{% endblock %}

