{% extends "layouts/main-internal.html" %}

{% set licence = data['licences'][data.ID] %}
{% set versionIndex = data.versionIndex | default(0) %}
{% set selectedVersion = licence.changeLog[versionIndex] %}
{% set selectedLicenceVersion = {} %}
{% if selectedVersion and selectedVersion.licenceVersion and selectedVersion.licenceVersion[0] %}
  {% set selectedLicenceVersion = selectedVersion.licenceVersion[0] %}
{% endif %}

{% block containerStart %}
{{ govukBackLink({
  href: "/internal/licence/history?ID=" + data.ID,
  text: "Back to history"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">{{ licence.number }}</span>
      <h1 class="govuk-heading-l">
        Licence version starting {{ selectedVersion.startDate | govukDate }}
      </h1>

    {% if selectedVersion %}
      {{ govukTag({
        text: selectedVersion.changeType | capitalize,
        classes: selectedVersion.changeType | changeTypeColour
      }) }}
    {% endif %}

    <p class="govuk-body-l govuk-!-margin-top-5">{{ selectedVersion.reasonCreated | capitalize }}</p>

    <p class="govuk-body">If you find errors in this data, email: <a href="/internal/no-page.html">water_abstractiondigital@environment-agency.gov.uk</a></p>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Licence details</h2>
    
    {% set contactAddress = "" %}
    {% for customer in data.customers %}
      {% if customer.name == licence.holder %}
        {% set contactAddress = customer.address1 + "<br>" + customer.city + "<br>" + customer.postcode %}
      {% endif %}
    {% endfor %}
   
    {{ govukSummaryList({
      card: {
        title: {
          text: licence.holder
        }
      },
      rows: [
        {
          key: {
            text: "Address"
          },
          value: {
            html: contactAddress
          }
        },
          {
          key: {
            text: "Licence version start date"
          },
          value: {
            html: selectedVersion.startDate | govukDate
          }
        },
          {
          key: {
            text: "Licence version issue date"
          },
          value: {
            html: selectedVersion.versionIssueDate | govukDate
          }
        },
          {
          key: {
            text: "Application number"
          },
          value: {
            html: selectedVersion.applicationNumber
          }
        },
          {
          key: {
            text: "Licence version end date"
          },
          value: {
            html: selectedVersion.endDate | govukDate
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Points</h2>
    {% for point in data.licences[data.ID].absPoints %}
    {{ govukSummaryList({
      card: {
        title: {
          text: data.licences[data.ID].use[0].points | bracketedText
        }
      },
      rows: [
        {
          key: {
            text: "Abstraction point"
          },
          value: {
            html: point
          }
        },
        {
          key: {
            text: "Means of abstraction"
          },
          value: {
            html: data.licences[data.ID].means[0]
          }
        }, {
          key: {
            text: "Source type"
          },
          value: {
            html: data.licences[data.ID].sourceType
          }
        }
      ]
    }) }}
    {% endfor %} 

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Purposes, periods and amounts</h2>
    {% set uses = licence.use %}
    {% for use in uses %}
    {{ govukSummaryList({
    card: {
        title: {
          text: use.purpose
        }
      },
      rows: [
        {
          key: {
            text: "Points" 
          },
          value: {
            html: use.points | newLine
          }
        },
        {
          key: {
            text: "Abstraction period"
          },
          value: {
            html: use.periodStart | mmddToDate + " to " + use.periodEnd | mmddToDate
          }
        },
        {
          key: {
            text: "Amount"
          },
          value: {
            html: use.amount + " " + (use.units | unitsToWords)
          }
        }
      ]
    }) }}
    {% endfor %}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Conditions</h2>
    {% for condition in data.licences[data.ID].absConditions %}
    {% if condition.type == "General condition" %}
      {{ govukSummaryList({
        card: {
          title: {
            text: condition.type
          }
        },
        rows: [
          {
            key: {
              text: "Abstraction point"
            },
            value: {
              html: data.licences[data.ID].absPoints[condition.pointsIndex]
            }
          },
          {
            key: {
              text: "Purpose"
            },
            value: {
              html: data.licences[data.ID].purpose[condition.purposeIndex]
            }
          },
          {
            key: {
              text: "Other information"
            },
            value: {
              html: condition.text
            }
          }
        ]
      }) }}
      {% else %}
      {{ govukSummaryList({
        card: {
          title: {
            text: condition.type
          }
        },
        rows: [
          {
            key: {
              text: "Abstraction point"
            },
            value: {
              html: data.licences[data.ID].absPoints[condition.pointsIndex]
            }
          },
          {
            key: {
              text: "Purpose"
            },
            value: {
              html: data.licences[data.ID].purpose[condition.purposeIndex]
            }
          },
          {
            key: {
              text: "Monitoring station"
            },
            value: {
              html: condition.param1
            }
          },
          {
            key: {
              text: "Threshold"
            },
            value: {
              html: condition.param2
            }
          },
          {
            key: {
              text: "Other information"
            },
            value: {
              html: condition.text
            }
          }
        ]
      }) }}
      {% endif %}
    {% endfor %} 

    </div>
  </div>
{% endblock %}

