{% extends "layouts/main-internal.html" %}

{% set pageName="History" %}
{% set licence = data['licences'][data.ID] %}
{% set breadcrumbType="history" %}
{% set history = true %}

{% block containerStart %}
{% include "internal/_includes/breadcrumbs-internal.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">
    {% include "internal/_includes/subnav-licence.html" %}
    </div>

    <div class="govuk-grid-column-three-quarters">

      <span class="govuk-caption-l">Licence {{ licence.number }}</span>
      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      {% set versions = [] %}

      {% for changeLog in data.licences[data.ID]['changeLog'] %}

        {% set changeTag %}
          {{govukTag({
            text: changeLog.changeType |capitalize,
            classes: changeLog.changeType | changeTypeColour
          })}}
        {% endset %}

        {% set endDate = '' %}
        {% if changeLog.endDate %}
          {% set endDate = changeLog.endDate | govukDate %}
        {% endif %}

        {% set versions = versions | push([{text:changeLog.startDate|govukDate},{text:endDate},{text:changeLog.reasonCreated|capitalize},{html:changeTag|safe},{html:'<a class="govuk-link" href="#">View</a>'}])%}

      {% endfor %}

      {{ govukTable({
        caption: "Showing all licence versions imported into the service.",
        captionClasses: "govuk-table__caption--m govuk-!-font-weight-regular",
        firstCellIsHeader: false,
        head: [
        {
          text: "Start date"
        },
        {
          text: "End date"
        },
        {
          text: "Reason",
          classes: "govuk-!-width-one-third"
        },
        {
          text: "Change type"
        },
        {
          text: "Action"
        }
        ],
        rows: versions
        }) }}

    </div>

  </div>
{% endblock %}

