{% extends "layouts/main-internal.html" %}

{% set pageName="Licence contacts" %}
{% set licence = data['licences'][data.ID] %}
{% set breadcrumbType="licenceContacts" %}
{% set licenceContacts = true %}

{% block containerStart %}
{% include "_includes/breadcrumbs-internal.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">
    {% include "_includes/subnav-internal-licence.html" %}
    </div>

    <div class="govuk-grid-column-three-quarters">

      <span class="govuk-caption-l">Licence {{ licence.number }}</span>
      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <p class="govuk-body">Go to customer contacts to <a href="#">set up a new contact</a>.</p>

      {{ govukTable({
        caption: "Caption text",
        firstCellIsHeader: false,
        head: [
          {
            text: "Name"
          },
          {
            text: "Contact type"
          },
          {
            text: "Communication type"
          }
        ],
        rows: [
          [
            {
              text: licence.holder
            },
            {
              text: "Licence holder"
            },
            {
              text: "Bills by post"
            }
          ],
          [
            {
              text: "Name"
            },
            {
              text: "Contact type"
            },
            {
              text: "Communication type"
            }
          ]
        ]
      }) }}

    </div>

  </div>
{% endblock %}

