{% extends "layouts/main-internal.html" %}

{% set pageName="Points" %}
{% set licence = data['licences'][data.ID] %}
{% set breadcrumbType="licence" %}

{% block containerStart %}
{% include "_includes/breadcrumbs-internal.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">
    {% include "_includes/subnav-internal-licence.html" %}
    </div>

    <div class="govuk-grid-column-three-quarters">

      <span class="govuk-caption-l">Licence {{ licence.number }}</span>
      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      {{ govukSummaryList({
        card: {
          title: {
            text: data.licences[data.ID].use[0].points | bracketedText
          }
        },
        rows: [
          {
            key: {
              text: "Abstraction point"
            },
            value: {
              html: "data"
            }
          },
          {
            key: {
              text: "Means of abstraction"
            },
            value: {
              html: "data"
            }
          }, {
            key: {
              text: "Source type"
            },
            value: {
              html: "data"
            }
          }
        ]
      }) }}

    </div>

  </div>
{% endblock %}

