{% extends "layouts/main-internal.html" %}

{% set pageName="Points" %}
{% set licence = data['licences'][data.ID] %}
{% set breadcrumbType="licenceChild" %}
{% set points = true %}

{% block containerStart %}
{% include "internal/_includes/breadcrumbs-internal.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">
    {% include "internal/_includes/subnav-licence.html" %}
    </div>

    <div class="govuk-grid-column-three-quarters">

      <span class="govuk-caption-l">Licence {{ licence.number }}</span>
      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <p class="govuk-body-l">Showing {{ licence.absPoints | length | plural("abstraction point") }}</p>

     {% for point in data.licences[data.ID].absPoints %}

      {{ govukSummaryList({
        card: {
          title: {
            text: data.licences[data.ID].use[0].points | bracketedText
          }
        },
        rows: [
          {
            key: {
              text: "Abstraction point"
            },
            value: {
              html: point
            }
          },
          {
            key: {
              text: "Means of abstraction"
            },
            value: {
              html: data.licences[data.ID].means[0]
            }
          }, {
            key: {
              text: "Source type"
            },
            value: {
              html: data.licences[data.ID].sourceType
            }
          }
        ]
      }) }}

    {% endfor %} 


    </div>

  </div>
{% endblock %}

