{% block breadcrumbs %}

  {% if breadcrumbType == "customers" %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Search",
          href: "/internal/search"
        }
      ]
    }) }}

  {% elif breadcrumbType == "customer" or breadcrumbType == "billing" or breadcrumbType == "contacts" %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Search",
          href: "/internal/search"
        },
        {
          text: "Customers",
          href: "/internal/customers"
        }
      ]
    }) }}

  {% elif breadcrumbType == "licence" or breadcrumbType == "licenceContacts" or breadcrumbType == "history" or breadcrumbType == "sentComms" or breadcrumbType == "returns" or breadcrumbType == "bills" or breadcrumbType == "licence-setup" %}
    {% set customerName = "" %}
    {% set customerHref = "" %}
    {% if breadcrumbType == "history" and data.licences[data.ID] %}
      {% set licenceHolder = data.licences[data.ID].holder %}
      {% for customer in data.customers %}
        {% if customer.name == licenceHolder %}
          {% set customerName = customer.name %}
          {% set customerHref = "/internal/customer?customerID=" + loop.index0 %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% set customerName = data.customers[data.customerID].name %}
      {% set customerHref = "/internal/customer?customerID=" + data.customerID %}
    {% endif %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Search",
          href: "/internal/search"
        },
        {
          text: "Customers",
          href: "/internal/customers"
        },
        {
          text: customerName,
          href: customerHref
        }
      ]
    }) }}

  {% elif breadcrumbType == "licenceChild" %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Search",
          href: "/internal/search"
        },
        {
          text: "Customers",
          href: "/internal/customers"
        },
        {
          text: data.customers[data.customerID].name,
          href: "/internal/customer?customerID=" + data.customerID
        },
        {
          text: "Licence summary",
          href: "/internal/licence?ID=" + data.ID
        }
      ]
    }) }}
  {% endif %}

{% endblock %}
      