{% set contacts = data['contacts'] %}
{% set contactsList = [] %}
{% if licence %}
  {% set selectedCustomer = licence.holder %}
{% else %}
  {% set selectedCustomer = data.customers[data.customerID].name %}
{% endif %}
{% set fromPage = "customer" %}
{% if licence %}
  {% set fromPage = "licence" %}
{% endif %}

{% for contact in contacts %}
  {% set contactIndex = loop.index0 %}
  {% for contactEntry in contact.customers %}

    {# Check if the contact entry matches the selected customer #}
    {% if contactEntry.customer == selectedCustomer %}
      {% set applicableNotices = [] %}
      {% for notice in contactEntry.notices %}

        {# Check if the notice applies to all licences or the specific licence number #}
        {% if not licence or notice.licences == "all" or licence.number in notice.licences %}
          {% set applicableNotices = applicableNotices | push(notice) %}
        {% endif %}
      {% endfor %}

      {% if applicableNotices.length %}
        {% set communicationHtml %}
          {% for notice in applicableNotices %}
            {{ notice.type }}{% if not loop.last %}<br>{% endif %}
          {% endfor %}
        {% endset %}

        {% set contactsList = contactsList | push([
          {html:'<a href="/internal/contact?ID=' + data.ID + '&contactID=' + contactIndex + '&from=' + fromPage + '" class="govuk-link">' + contact.name + '</a>'},
          {text:contactEntry.role},
          {html:communicationHtml | safe}
        ]) %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

{{ govukTable({
  caption: "List of contacts",
  classes: "contacts-table",
  firstCellIsHeader: false,
  head: [
    {
      text: "Name"
    },
    {
      text: "Contact type"
    },
    {
      text: "Communication type"
    }
  ],
  rows: contactsList
}) }}
