{% set contacts = data['contacts'] %}
{% set contactsList = [] %}
{% if licence %}
  {% set selectedCustomer = licence.holder %}
{% else %}
  {% set selectedCustomer = data.customers[data.customerID].name %}
{% endif %}
{% set fromPage = "customer" %}
{% if licence %}
  {% set fromPage = "licence" %}
{% endif %}
{% set contactLinkBase = '/internal/contact?contactID=' %}
{% if fromPage == "licence" %}
  {% set contactLinkSuffix = '&ID=' + data.ID + '&from=' + fromPage %}
{% else %}
  {% set contactLinkSuffix = '&customerID=' + data.customerID + '&from=' + fromPage %}
{% endif %}

{% for contact in contacts %}
  {% set contactIndex = loop.index0 %}
  {% for contactEntry in contact.customers %}

    {# Check if the contact entry matches the selected customer #}
    {% if contactEntry.customer == selectedCustomer %}
      {% set applicableNotices = [] %}
      {% for notice in contactEntry.notices %}

        {# Check if the notice applies to all licences or the specific licence number #}
        {% if not licence or notice.licences == "all" or licence.number in notice.licences %}
          {% set applicableNotices = applicableNotices | push(notice) %}
        {% endif %}
      {% endfor %}

      {# Only show roles that should appear in this table #}
      {% set showRole = contactEntry.role == "Primary contact" or contactEntry.role == "Contact" %}

      {# When viewing from customer page, show allowed roles; when viewing from licence page, only show allowed roles with applicable notices #}
      {% if showRole and ((fromPage == "customer") or (applicableNotices.length)) %}
        {% set communicationHtml %}
          {% if applicableNotices.length %}
            {% for notice in applicableNotices %}
              {{ notice.type }}{% if not loop.last %}<br>{% endif %}
            {% endfor %}
          {% else %}
            {# show nothing in UI #}
          {% endif %}
        {% endset %}

        {% set contactsList = contactsList | push([
          {html:'<a href="' + contactLinkBase + contactIndex + contactLinkSuffix + '" class="govuk-link">' + contact.name + '</a>'},
          {text:contactEntry.role},
          {html:communicationHtml | safe}
        ]) %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if contactsList.length %}
  {% include "internal/_includes/contacts-filter.html" %}

  {{ govukTable({
    caption: "List of contacts",
    classes: "contacts-table",
    firstCellIsHeader: false,
    head: [
      {
        text: "Name"
      },
      {
        text: "Role"
      },
      {
        text: "Communications"
      }
    ],
    rows: contactsList
  }) }}
{% else %}
  {% if fromPage == "customer" %}
    <p class="govuk-body govuk-!-margin-top-4">No contacts for this customer.</p>
  {% else %}
    {% set holderCustomerID = data.customerID %}
    {% for customer in data.customers %}
      {% if customer.name == selectedCustomer %}
        {% set holderCustomerID = loop.index0 %}
      {% endif %}
    {% endfor %}
   
    <div style="margin-right: 30%;">
      <p class="govuk-body">No contacts for this customer.</p>
      <p class="govuk-body">Go to customer contacts to <a class="govuk-link" href="/internal/customer/customer-contacts?customerID={{ holderCustomerID }}">set up a new contact</a> or go back to the licence summary if you need the licence holder's address.</p>
    </div>

  {% endif %}
{% endif %}
