{% set searchfilterContent %}

	{{ govukCheckboxes({
		classes: "govuk-checkboxes--small",
		name: "filter",
		idPrefix: "contacts-filter",
		fieldset: {
			legend: {
				text: "Communication type",
				classes: "govuk-fieldset__legend--s"
			}
		},
		items: [
			{
				value: "bills",
				text: "Bills"
			},
			{
				value: "returns",
				text: "Returns"
			},
			{
				value: "alerts",
				text: "Alerts"
			}
		]
	}) }}

<div class="govuk-button-group govuk-!-margin-bottom-0">
  {{ govukButton({
		text: "Apply filter",
		attributes: {
			"type": "button",
			"id": "apply-contacts-filter",
			"data-close-filter-details": "true"
		}
	}) }}

  {{ govukButton({
		text: "Clear filter",
		classes: "govuk-button--secondary",
		attributes: {
			"type": "button",
			"id": "clear-contacts-filter",
			"data-close-filter-details": "true"
		}
  }) }}
</div>

{% endset %}

{{ govukDetails({
	attributes: {
		id: "contacts-filter-details"
	},
	summaryText: "Filter by",
	html: searchfilterContent
}) }}