{% set contacts = data['contacts'] %}
{% set contactsList = [] %}
{% if licence %}
  {% set selectedCustomer = licence.holder %}
{% else %}
  {% set selectedCustomer = data.customers[data.customerID].name %}
{% endif %}
{% set fromPage = "customer" %}
{% if licence %}
  {% set fromPage = "licence" %}
{% endif %}
{% set contactLinkBase = '/internal/contact?contactID=' %}
{% if fromPage == "licence" %}
  {% set contactLinkSuffix = '&ID=' + data.ID + '&from=' + fromPage %}
{% else %}
  {% set contactLinkSuffix = '&customerID=' + data.customerID + '&from=' + fromPage %}
{% endif %}

{% for contact in contacts %}
  {% set contactIndex = loop.index0 %}
  {% for contactEntry in contact.customers %}

    {# Check if the contact entry matches the selected customer #}
    {% if contactEntry.customer == selectedCustomer %}
      {% set applicableNotices = [] %}
      {% for notice in contactEntry.notices %}

        {# Check if the notice applies to all licences or the specific licence number #}
        {% if not licence or notice.licences == "all" or licence.number in notice.licences %}
          {% set applicableNotices = applicableNotices | push(notice) %}
        {% endif %}
      {% endfor %}

      {# When viewing from customer page, show all contacts; when viewing from licence page, only show contacts with applicable notices #}
      {% if (fromPage == "customer") or (applicableNotices.length) %}
        {% set communicationHtml %}
          {% if applicableNotices.length %}
            {% for notice in applicableNotices %}
              {{ notice.type }}{% if not loop.last %}<br>{% endif %}
            {% endfor %}
          {% else %}
            {# show nothing in UI #}
          {% endif %}
        {% endset %}

        {% set contactsList = contactsList | push([
          {html:'<a href="' + contactLinkBase + contactIndex + contactLinkSuffix + '" class="govuk-link">' + contact.name + '</a>'},
          {text:contactEntry.role},
          {html:communicationHtml | safe}
        ]) %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

{{ govukTable({
  caption: "List of contacts",
  classes: "contacts-table",
  firstCellIsHeader: false,
  head: [
    {
      text: "Name"
    },
    {
      text: "Contact type"
    },
    {
      text: "Communication type"
    }
  ],
  rows: contactsList
}) }}
