
{% set versions = [] %}

{% for changeLog in data.licences[data.ID]['changeLog'] %}

{% set changeTag %}
  {{govukTag({
    text: changeLog.changeType | capitalize,
    classes: changeLog.changeType | changeTypeColour
  })}}
{% endset %}

{% set endDate = '' %}
{% if changeLog.endDate %}
  {% set endDate = changeLog.endDate | govukDate %}
{% endif %}

{% set versions = versions | push([{text:changeLog.startDate|govukDate},{text:endDate},{text:changeLog.reasonCreated|capitalize},{html:changeTag|safe},{html:'<a class="govuk-link" href="/internal/licence/history-version?ID=' + data.ID + '&versionIndex=' + loop.index0 + '">View</a>'}])%}

{% endfor %}

{{ govukTable({
caption: "Showing all licence versions imported into the service.",
captionClasses: "govuk-table__caption--m govuk-!-font-weight-regular",
firstCellIsHeader: false,
head: [
{
  text: "Start date"
},
{
  text: "End date"
},
{
  text: "Reason",
  classes: "govuk-!-width-one-third"
},
{
  text: "Change type"
},
{
  text: "Action"
}
],
rows: versions
}) }}