{% set searchfilterContent %}

	{{ govukRadios({
		classes: "govuk-radios--small",
		name: "search-filter",
		idPrefix: "search-filter",
		fieldset: {
			legend: {
				text: "Match type",
				classes: "govuk-fieldset__legend--s"
			}
		},
		items: [
			{
				value: "billing",
				text: "Billing accounts"
			},
			{
				value: "holders",
				text: "Licence holders"
			},
			{
				value: "licences",
				text: "Licences"
			},
			{
				value: "stations",
				text: "Monitoring stations"
			},
			{
				value: "returns",
				text: "Return logs"
			},
			{
				value: "users",
				text: "Users"
			}
		]
	}) }}

<div class="govuk-button-group govuk-!-margin-bottom-0">
  {{ govukButton({
		text: "Apply filter",
		attributes: {
			"type": "button",
			"id": "apply-search-filter",
			"data-close-filter-details": "true"
		}
  }) }}

  {{ govukButton({
    text: "Clear filter",
    classes: "govuk-button--secondary",
    attributes: {
      "type": "button",
      "id": "clear-search-filter"
    }
  }) }}
</div>

{% endset %}

{{ govukDetails({
	attributes: {
		id: "search-filter-details"
	},
	summaryText: "Filter matches",
	html: searchfilterContent
}) }}