
{% extends "layouts/main-internal.html" %}

{% set pageName="Contact" %}
{% set licence = data['licences'][data.ID] %}
{% set contact = data['contacts'][data.contactID] %}
{% set breadcrumbType="licence" %}

{% block containerStart %}
{{ govukBackLink({
  href: "/internal/licence/licence-contacts?ID=" + data.ID,
  text: "Back to licence contacts"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-three-quarters">

      <span class="govuk-caption-l">{{ licence.holder }}</span>
      <h1 class="govuk-heading-l">
        {{ contact.name }} 
      </h1>

      {{ govukTag({
        text: "Registered" if contact.wrls == "true" else "Not registered",
				classes: (contact | contactRegStatus) + "govuk-!-font-size-24"
      }) }}

			{{ govukSummaryList({
			classes: 'govuk-summary-list--no-border meta-data',
			rows: [
				{
					key: {
						text: "Date created",
						classes: "meta-data__label "
					},
					value: {
						text: "12 January 2020",
						classes: "meta-data__value"
					}
				},
				{
					key: {
						text: "Created by",
						classes: "meta-data__label"
					},
					value: {
						text: "admin@environment-agency.gov.uk",
						classes: "meta-data__value"
					}
				},
				{
					key: {
						text: "Last updated",
						classes: "meta-data__label"
					},
					value: {
						text: "1 June 2026
",
						classes: "meta-data__value"
					}
				}
			]
		}) }}

    <br>
    <br>



      
    </div>
  </div>
{% endblock %}

