
{% extends "layouts/main-internal.html" %}

{% set pageName="Contact" %}
{% set licence = data['licences'][data.ID] %}
{% set contact = data['contacts'][data.contactID] %}
{% set breadcrumbType="licence" %}

{% block containerStart %}
{{ govukBackLink({
  href: "/internal/licence/licence-contacts?ID=" + data.ID,
  text: "Back to licence contacts"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">

		<span class="govuk-caption-l">{{ licence.holder }}</span>
		<h1 class="govuk-heading-l">
			{{ contact.name }} 
		</h1>

		{{ govukTag({
			text: "Registered" if contact.wrls == "true" else "Not registered",
			classes: (contact | contactRegStatus) + " govuk-!-font-size-24"
		}) }}

		{{ govukSummaryList({
		classes: 'govuk-summary-list--no-border meta-data',
		rows: [
			{
				key: {
					text: "Date created",
					classes: "meta-data__label "
				},
				value: {
					text: "12 January 2020",
					classes: "meta-data__value"
				}
			},
			{
				key: {
					text: "Created by",
					classes: "meta-data__label"
				},
				value: {
					text: "admin@environment-agency.gov.uk",
					classes: "meta-data__value"
				}
			},
			{
				key: {
					text: "Last updated",
					classes: "meta-data__label"
				},
				value: {
					text: "1 June 2026",
					classes: "meta-data__value"
				}
			}
		]
		}) }}

		<!-- update contact-->
		{{ govukButton({
		text: "Update contact",
		href: "/internal/contact-edit?contactID=" + data.contactID + "&ID=" + data.ID,
		classes: "govuk-!-margin-right-3"
		}) }}

		<!-- remove contact-->
		{{ govukButton({
		text: "Remove contact",
		href: "#",
		classes: "govuk-button--secondary"
		}) }}
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

	<h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-3">Contact details</h2>

	{% set contactAddress = "" %}
	{% for customerEntry in contact.customers %}
		{% if customerEntry.customer == licence.holder and customerEntry.notices %}
			{% set addressID = customerEntry.notices[0].addressID %}
			{% for addr in data.addresses %}
				{% if addr.addressID == addressID %}
					{% set contactAddress = addr.address1 + ", " + addr.city + ", " + addr.postcode %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}

	{{ govukSummaryList({
		rows: [
		{
			key: {
				text: "Name"
			},
			value: {
				text: data.contacts[data.contactID].name
			}

		},
			{
				key: {
					text: "Email address"
				},
				value: {
					text: data.contacts[data.contactID].email
				}
				
			},
				{
					key: {
						text: "Postal address"
					},
					value: {
						text: contactAddress
					}
				},
				{
					key: {
						text: "Phone number"
					},
					value: {
						text: data.contacts[data.contactID].phone
					}
				}
		]
	}) }}
		
	<h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-7">Communication types</h2>

	{% set WAAStatus = "No" %}
	{% set returnsStatus = "No" %}
	{% set billsStatus = "No" %}
	{% for customerEntry in contact.customers %}
		{% if customerEntry.customer == licence.holder %}
			{% for notice in customerEntry.notices %}

				{% if notice.type == "Water abstraction alerts" %}
					{% if notice.licences == "all" %}
						{% set WAAStatus = "Yes, for all licences" %}
					{% elif WAAStatus != "Yes, for all licences" %}
						{% set WAAStatus = "Yes, for some licences" %}
					{% endif %}
				{% endif %}

				{% if notice.type == "Returns" %}
					{% if notice.licences == "all" %}
						{% set returnsStatus = "Yes, for all licences" %}
					{% elif returnsStatus != "Yes, for all licences" %}
						{% set returnsStatus = "Yes, for some licences" %}
					{% endif %}
				{% endif %}

				{% if notice.type == "Bills" %}
					{% if notice.licences == "all" %}
						{% set billsStatus = "Yes, for all licences" %}
					{% elif billsStatus != "Yes, for all licences" %}
						{% set billsStatus = "Yes, for some licences" %}
					{% endif %}
				{% endif %}

			{% endfor %}
		{% endif %}
	{% endfor %}

	{{ govukSummaryList({
		rows: [
			{
				key: {
					text: "Water abstraction alerts"
				},
				value: {
					text: WAAStatus
				}
			},
			{
				key: {
					text: "Returns invites and reminders"
				},
				value: {
					text: returnsStatus
				}
			},
			{
				key: {
					text: "Bills"
				},
				value: {
					text: billsStatus
				}
			}
		]
	}) }}

	<h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-7">Sent communications</h2>

	<p class="govuk-body">No communications have been sent to this contact.</p>

	</div>
</div>

{% endblock %}

