{% extends "layouts/main-internal.html" %}

{% set pageName="Licences" %}

{% block containerStart %}
{% include "_includes/breadcrumbs-internal.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-one-quarter">

    {% include "_includes/subnav-internal-customer.html" %}

    </div>
    
    <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Customer {{[data.customers[data.customerID]['name']]}}</span>
     {{pageName}}
    </h1>
    {% include "_includes/licences-table.html" %}
    
    </div>

  </div>
{% endblock %}

