{% extends "layouts/main-internal.html" %}

{% set pageName="Customers" %}
{% set breadcrumbType="customers" %}

{% block containerStart %}
{% include "internal/_includes/breadcrumbs-internal.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>

      <p>View customer licences and manage their contacts.</p>

      {% include "internal/_includes/customers-table.html" %}
      
    </div>
  </div>
{% endblock %}

