{% extends "layouts/main-internal.html" %}

{% set pageName="Licence summary" %}

{% block containerStart %}
{% include "_includes/breadcrumbs-internal.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-one-quarter">
    {% include "_includes/subnav-internal-licence.html" %}
    </div>
    
    <div class="govuk-grid-column-three-quarters">

      <span class="govuk-caption-l">Licence name</span>
      <h1 class="govuk-heading-l">
        {{pageName}} licence number
      </h1>

      <p>Content goes here.</p>

      <hr>
      
    </div>
  </div>
{% endblock %}

