{% extends "layouts/main-internal.html" %}

{% set pageName="Licence summary" %}
{% set licence = data['licences'][data.ID] %}
{% set breadcrumbType="licence" %}

{% block containerStart %}
{% include "_includes/breadcrumbs-internal.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-one-quarter">
    {% include "_includes/subnav-internal-licence.html" %}
    </div>
    
    <div class="govuk-grid-column-three-quarters">

      <span class="govuk-caption-l">{{ licence.name }}</span>
      <h1 class="govuk-heading-l">
        {{pageName}} {{ licence.number }}
      </h1>

      {% if licence.expired %}
        {{ govukWarningText({
        text: "This licence expired on " ~ licence.endDate ~ "."
        }) }}
      {% endif %}

      <p class="govuk-body-l">The current version of the licence starting {{ licence.startDate }}.</p>

      {% include "_includes/licence-summary.html" %}
      
    </div>
  </div>
{% endblock %}

