{% extends "layouts/main-internal.html" %}

{% set pageName="Licence summary" %}

{% block containerStart %}
{% include "_includes/breadcrumbs-internal.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-one-third">
    {% include "_includes/subnav-internal.html" %}
    </div>
    
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>

      <p>Content goes here.</p>
      
    </div>
  </div>
{% endblock %}

