{% extends "layouts/main-internal.html" %}

{% set pageName="Search" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="search-input">
        {{pageName}}
      </label>
    </h1>
    <div id="search-input" class="govuk-hint">
      Enter a licence number, customer name, returns ID, registered email address or monitoring station
    </div>
    <input class="govuk-input govuk-!-width-two-thirds govuk-!-display-inline-block" id="search" name="search" type="text" aria-describedby="search-input" value="{{data['search']}}">
      {{ govukButton({
        text: "Search",
        attributes: {
          type: "button",
          id: "search-button"
        },
        classes: "govuk-!-display-inline-block govuk-!-padding-right-6 govuk-!-padding-left-6 govuk-!-margin-bottom-0"
      }) }}
  </div>

  {# Embed session data for client-side search #}
  <script type="application/json" id="session-data">
    {"licences": {{ data.licences | dump | safe }}, "customers": {{ data.customers | dump | safe }}}
  </script>

  {% include "internal/_includes/search-filter.html" %}

  {% include "internal/_includes/search-results.html" %}


  </div>
</div>

{% endblock %}
