{% block breadcrumbs %}

  {% if breadcrumbType == "customers" %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Search",
          href: "/internal/search"
        }
      ]
    }) }}

  {% elif breadcrumbType == "customer" or breadcrumbType == "billing" or breadcrumbType == "contacts" %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Search",
          href: "/internal/search"
        },
        {
          text: "Customers",
          href: "/internal/customers"
        }
      ]
    }) }}

  {% elif breadcrumbType == "licence" or breadcrumbType == "licenceContacts" or breadcrumbType == "history" or breadcrumbType == "sentComms" or breadcrumbType == "returns" or breadcrumbType == "bills" or breadcrumbType == "licence-setup" %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Search",
          href: "/internal/search"
        },
        {
          text: "Customers",
          href: "/internal/customers"
        },
        {
          text: data.customers[data.customerID].name,
          href: "/internal/customer?customerID=" + data.customerID
        }
      ]
    }) }}

  {% elif breadcrumbType == "licenceChild" %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Search",
          href: "/internal/search"
        },
        {
          text: "Customers",
          href: "/internal/customers"
        },
        {
          text: data.customers[data.customerID].name,
          href: "/internal/customer?customerID=" + data.customerID
        },
        {
          text: "Licence summary",
          href: "/internal/licence?ID=" + data.ID
        }
      ]
    }) }}
  {% endif %}

{% endblock %}
      