{% set customers = data['customers'] %}
{% set licences = data['licences'] %}

<table class="govuk-table">
  <caption class="govuk-table__caption">Customers</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name</th>
      <th scope="col" class="govuk-table__header">Number of licences</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

  {% for customer in customers %}
    {% set numberOfLicences = 0 %}
    {% for licence in licences %}
      {% if licence.holder == customer.name %}
        {% set numberOfLicences = numberOfLicences + 1 %}
      {% endif %}
    {% endfor %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a href="customer?customerID={{ loop.index0 }}" class="govuk-link">
          {{ customer.name }}
        </a>
      </td>
      <td class="govuk-table__cell">{{ numberOfLicences }}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>
