{% set licences = data['licences'] %}
{% set customerID = data['customerID'] %}
{% set customer = data['customers'][customerID] %}

<table class="govuk-table">
  <caption class="govuk-table__caption">Showing all licences</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Licence</th>
      <th scope="col" class="govuk-table__header">Licence name</th>
      <th scope="col" class="govuk-table__header">Licence holder</th>
      <th scope="col" class="govuk-table__header">End date</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

  {% for licence in licences %}
    {% if licence.holder == customer.name %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a href="licence?ID={{ loop.index0 }}" class="govuk-link">
          {{ licence.number }}
        </a>
      </td>
      <td class="govuk-table__cell">{{ licence.name }}</td>
      <td class="govuk-table__cell">{{ licence.holder }}</td>
      <td class="govuk-table__cell">
        {% if licence.expired == "true" %}
        <strong class="table__status table__status--expired">
          <span class="table__status--heading">Expired</span><br>
          {{ licence.endDate }}
        </strong>
        {% else %}
        {{ licence.endDate }}
        {% endif %}
      </td>
    </tr>
    {% endif %}
  {% endfor %}

  </tbody>
</table>
