{% set customers = data['customers'] %}
{% set licences = data['licences'] %}

<table class="govuk-table">
  <caption class="govuk-table__caption">Showing all sent notices</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Type</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Sent</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Sent to</th>
      <th scope="col" class="govuk-table__header">Method</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr>
      <td class="govuk-table__cell"><a href="#">Resume - water abstraction alert</a></td>
      <td class="govuk-table__cell">5 June 2020</td>
      <td class="govuk-table__cell">something1@somewhere.co.uk</td>
      <td class="govuk-table__cell">Letter</td>
    </tr>
    <tr>
      <td class="govuk-table__cell"><a href="#">Stop - water abstraction alert</a></td>
      <td class="govuk-table__cell">17 April 2020</td>
      <td class="govuk-table__cell">something1@somewhere.co.uk</td>
      <td class="govuk-table__cell">Letter</td>
    </tr>
    <tr>
      <td class="govuk-table__cell"><a href="#">Warning - water abstraction alert</a></td>
      <td class="govuk-table__cell">30 March 2020</td>
      <td class="govuk-table__cell">something1@somewhere.co.uk</td>
      <td class="govuk-table__cell">Letter</td>
    </tr>
  </tbody>
</table>
