{% block subnav %}

   {{ xGovukSubNavigation({
  items: [{
    text: "Licence summary",
    href: "",
    current: true,
    parent: true,
    children: [{
      text: "Purposes, periods and amounts",
      href: "/",
      current: purpose
    }, {
      text: "Points",
      href: "/",
      current: points
    }, {
      text: "Conditions",
      href: "/",
      current: conditions
    }]
  },
  {
    text: "History",
    href: "/",
    current: history,
    children: [{
      text: "Licence version",
      href: "/",
      current: licenceVersion
    }]
  },
  {
    text: "Licence contacts",
    href: "/",
    current: contactDetails
  },
  { 
    text: "Sent communications",
    href: "/",
     current: communications
    }, 
  {
    text: "Returns",
     href: "/",
    current: returns
  }, 
  {
    text: "Bills",
    href: "/",
     current: bills
  } , 
  {
    text: "Licence set up",
    href: "/",
     current: licenceSetup
  }
  ]
}) }}

{% endblock %}