{% block subnav %}

{% set otherLicenceSectionCurrent = (history or licenceContacts or sentComms or returns or bills or licenceSetup) %}
{% set licenceSummaryCurrent = (not otherLicenceSectionCurrent) %}

{% if licenceSummaryCurrent %}
  {% set licenceSummaryChildren = [{
    text: "Purposes, periods and amounts",
    href: "/internal/licence/purposes?ID=" + data.ID,
    current: purpose
  }, {
    text: "Points",
    href: "/internal/licence/points?ID=" + data.ID,
    current: points
  }, {
    text: "Conditions",
    href: "/internal/licence/conditions?ID=" + data.ID,
    current: conditions
  }] %}
{% else %}
  {% set licenceSummaryChildren = [] %}
{% endif %}

   {{ xGovukSubNavigation({
  items: [{
    text: "Licence summary",
    href: "/internal/licence/?ID=" + data.ID,
    current: licenceSummaryCurrent,
    parent: licenceSummaryCurrent,
    children: licenceSummaryChildren
  },
  {
    text: "History",
    href: "/internal/licence/history?ID=" + data.ID,
    current: history
  },
  {
    text: "Licence contacts",
    href: "/internal/licence/licence-contacts?ID=" + data.ID,
    current: licenceContacts
  },
  { 
    text: "Sent communications",
    href: "/internal/licence/sent-comms?ID=" + data.ID,
    current: sentComms
    }, 
  {
    text: "Returns",
    href: "/internal/licence/returns?ID=" + data.ID,
    current: returns
  }, 
  {
    text: "Bills",
    href: "/internal/licence/bills?ID=" + data.ID,
     current: bills
  } , 
  {
    text: "Licence set up",
    href: "/internal/licence/licence-setup?ID=" + data.ID,
     current: licenceSetup
  }
  ]
}) }}

{% endblock %}