
{% extends "layouts/main-internal.html" %}

{% set licence = data['licences'][data.ID] if data.ID else null %}
{% set contact = data['contacts'][data.contactID] if data.contactID is not undefined else null %}
{% set breadcrumbType="licence" %}
{% set customerName = data.customers[data.customerID].name if data.customerID is not undefined and data.customers[data.customerID] else (licence.holder if licence else "") %}
{% set selectedRole = "Contact" %}
{% if contact and contact.customers %}
	{% for customerEntry in contact.customers %}
		{% if customerEntry.customer == customerName and customerEntry.role %}
			{% set selectedRole = customerEntry.role %}
		{% endif %}
	{% endfor %}
{% endif %}
{% set selectedRole = "Primary contact" if selectedRole == "Primary user" or selectedRole == "Primary-contact" else selectedRole %}
{% set oldRoleLabel = "primary contact" if selectedRole == "Primary contact" else "contact" %}
{% set requestedRole = data.contactRole if data.contactRole else selectedRole %}
{% set newRoleLabel = "primary contact" if requestedRole == "Primary contact" else "contact" %}
{% set contactName = contact.name if contact else "this contact" %}
{% set pageName = "You're about to change " + contactName + " from a " + oldRoleLabel + " to a " + newRoleLabel %}

{% block containerStart %}
{{ govukBackLink({
	href: "/internal/customer/customer-contacts?customerID=" + data.customerID,
  text: "Back to customer"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<span class="govuk-caption-l">{{ customerName }}</span>
		<h1 class="govuk-heading-l govuk-!-margin-bottom-4">
			{{ pageName }}
		</h1>

		{% set confirmRoleAction = "/internal/contact/confirm-role.html?contactID=" + data.contactID + "&ID=" + data.ID %}
		{% if data.customerID %}
			{% set confirmRoleAction = confirmRoleAction + "&customerID=" + data.customerID %}
		{% endif %}
		{% if data.from %}
			{% set confirmRoleAction = confirmRoleAction + "&from=" + data.from %}
		{% endif %}
		{% if data.contactRole %}
			{% set confirmRoleAction = confirmRoleAction + "&contactRole=" + data.contactRole %}
		{% endif %}

		{% set cancelRoleHref = "/internal/contact/cancel-role?contactID=" + data.contactID + "&ID=" + data.ID %}
		{% if data.customerID %}
			{% set cancelRoleHref = cancelRoleHref + "&customerID=" + data.customerID %}
		{% endif %}
		{% if data.from %}
			{% set cancelRoleHref = cancelRoleHref + "&from=" + data.from %}
		{% endif %}

		<form method="post" action="{{ confirmRoleAction }}">

		{{ govukButton({
		text: "Confirm",
		classes: "govuk-!-margin-right-3",
		type: "submit"
		}) }}

		<p class="govuk-body">
			<a href="{{ cancelRoleHref }}" class="govuk-link">Cancel</a>
		</p>

		</form>

	</div>
</div>

{% endblock %}

