
{% extends "layouts/main-internal.html" %}

{% set pageName="Update contact" %}
{% set licence = data['licences'][data.ID] %}
{% set contact = data['contacts'][data.contactID] %}
{% set breadcrumbType="licence" %}

{% block containerStart %}
{{ govukBackLink({
  href: "/internal/contact?contactID=" + data.contactID + "&ID=" + data.ID,
  text: "Back to contact"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

		<span class="govuk-caption-l">{{ licence.holder }}</span>
		<h1 class="govuk-heading-l">
			{{ pageName }}
		</h1>

	<h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-3">Contact details</h2>

		{% set contactAddress = "" %}
		{% for customerEntry in contact.customers %}
			{% if customerEntry.customer == licence.holder %}
				{% for customer in data.customers %}
					{% if customer.name == customerEntry.customer %}
						{% set contactAddress = customer.address1 + ", " + customer.city + ", " + customer.postcode %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}

		{% set nameValue = (data.pendingChanges.name if data.pendingChanges and data.pendingChanges.name else data.contacts[data.contactID].name) | default("") | trim %}
		{% set emailValue = data.contacts[data.contactID].email | default("") | trim %}
		{% set phoneValue = data.contacts[data.contactID].phone | default("") | trim %}
		{% set addressValue = contactAddress | default("") | trim %}

		{{ govukSummaryList({
			rows: [
			{
				key: {
					text: "Name"
				},
				value: {
					text: nameValue
				},
				actions: {
					items: [
						{
							href: "/internal/contact/edit-name?contactID=" + data.contactID + "&ID=" + data.ID,
							text: "Change" if nameValue else "Add",
							visuallyHiddenText: "name"
						}
					]
				}
			},
				{
					key: {
						text: "Email address"
					},
					value: {
						text: emailValue
					},
					actions: {
						items: [
							{
								href: "#",
								text: "Change" if emailValue else "Add",
								visuallyHiddenText: "email address"
							}
						]
					}
				},
					{
						key: {
							text: "Postal address"
						},
						value: {
							text: addressValue
						},
						actions: {
							items: [
								{
									href: "#",
									text: "Change" if addressValue else "Add",
									visuallyHiddenText: "postal address"
								}
							]
						}
					},
					{
						key: {
							text: "Phone number"
						},
						value: {
							text: phoneValue
						},
						actions: {
							items: [
								{
									href: "#",
									text: "Change" if phoneValue else "Add",
									visuallyHiddenText: "phone number"
								}
							]
						}
					}
			]
		}) }}

	<h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-7">Communication types</h2>

	{% set WAAStatus = "No" %}
	{% set returnsStatus = "No" %}
	{% set billsStatus = "No" %}
	{% for customerEntry in contact.customers %}
		{% if customerEntry.customer == licence.holder %}
			{% for notice in customerEntry.notices %}

				{% if notice.type == "Water abstraction alerts by email" %}
					{% if notice.licences == "all" %}
						{% set WAAStatus = "Yes, for all licences" %}
					{% elif WAAStatus != "Yes, for all licences" %}
						{% set WAAStatus = "Yes, for some licences" %}
					{% endif %}
				{% endif %}

				{% if notice.type == "Returns by email" %}
					{% if notice.licences == "all" %}
						{% set returnsStatus = "Yes, for all licences" %}
					{% elif returnsStatus != "Yes, for all licences" %}
						{% set returnsStatus = "Yes, for some licences" %}
					{% endif %}
				{% endif %}

				{% if notice.type == "Bills by post" %}
					{% if notice.licences == "all" %}
						{% set billsStatus = "Yes, for all licences" %}
					{% elif billsStatus != "Yes, for all licences" %}
						{% set billsStatus = "Yes, for some licences" %}
					{% endif %}
				{% endif %}

			{% endfor %}
		{% endif %}
	{% endfor %}

	{% set WAAValue = WAAStatus | default("") | trim %}
	{% set returnsValue = returnsStatus | default("") | trim %}
	{% set billsValue = billsStatus | default("") | trim %}

	{{ govukSummaryList({
		rows: [
			{
				key: {
					text: "Water abstraction alerts"
				},
				value: {
					text: WAAValue
				},
				actions: {
					items: [
						{
							href: "#",
							text: "Change" if WAAValue else "Add",
							visuallyHiddenText: "water abstraction alerts"
						}
					]
				}
			},
			{
				key: {
					text: "Returns invites and reminders"
				},
				value: {
					text: returnsValue
				},
				actions: {
					items: [
						{
							href: "#",
							text: "Change" if returnsValue else "Add",
							visuallyHiddenText: "returns invites and reminders"
						}
					]
				}
			},
			{
				key: {
					text: "Bills"
				},
				value: {
					text: billsValue
				},
				actions: {
					items: [
						{
							href: "#",
							text: "Change" if billsValue else "Add",
							visuallyHiddenText: "bills"
						}
					]
				}
			}
		]
	}) }}

<!-- confirm and update contact-->
	<form method="post" action="/internal/contact/edit-contact?contactID={{ data.contactID }}&ID={{ data.ID }}">

		<div class="govuk-button-group">
			{{ govukButton({
			text: "Confirm",
			classes: "govuk-!-margin-right-3",
			type: "submit"
			}) }}
			{{ govukButton({
			text: "Cancel",
			href: "/internal/contact/cancel?contactID=" + data.contactID + "&ID=" + data.ID,
			classes: "govuk-button--secondary"
			}) }}
		</div>
		
	</form>

	</div>
</div>

{% endblock %}

