
{% extends "layouts/main-internal.html" %}

{% set pageName="Update details" %}
{% set licence = data['licences'][data.ID] %}
{% set contact = data['contacts'][data.contactID] %}
{% set breadcrumbType="licence" %}
{% set customerName = "" %}

{% if data.customerID is not undefined and data.customers[data.customerID] %}
	{% set customerName = data.customers[data.customerID].name %}
{% elif licence %}
	{% set customerName = licence.holder %}
{% endif %}

{% if contact.customers and contact.customers.length %}
	{% if customerName %}
		{% for customerEntry in contact.customers %}
			{% if customerEntry.customer == customerName %}
				{% set customerName = customerEntry.customer %}
			{% endif %}
		{% endfor %}
	{% else %}
		{% set customerName = contact.customers[0].customer %}
	{% endif %}
{% endif %}

{% block containerStart %}
{% if isNewContact %}
{% set cancelNewContactHref = "/internal/contact/cancel?contactID=" + data.contactID + "&customerID=" + data.customerID %}
{{ govukBackLink({
  href: cancelNewContactHref,
  text: "Back to customer"
}) }}
{% else %}
{% set backLinkHref = "/internal/contact?contactID=" + data.contactID + "&ID=" + data.ID %}
{% if data.from %}
	{% set backLinkHref = backLinkHref + "&from=" + data.from %}
{% endif %}
{{ govukBackLink({
  href: backLinkHref,
  text: "Back to contact"
}) }}
{% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

		<h1 class="govuk-heading-l">
			{{ pageName }}
		</h1>


		{# Set name, email, phone and address values #}
		{% set nameValue = (data.pendingChanges.name if data.pendingChanges and data.pendingChanges.name else data.contacts[data.contactID].name) | default("") | trim %}

		{% set emailValue = (data.pendingChanges.email if data.pendingChanges and data.pendingChanges.email else data.contacts[data.contactID].email) | default("") | trim %}

		{% set phoneValue = (data.pendingChanges.phone if data.pendingChanges and data.pendingChanges.phone else data.contacts[data.contactID].phone) | default("") | trim %}

		{% set addressValue = (data.pendingChanges.address if data.pendingChanges and data.pendingChanges.address else contact.post) | default("") | trim %}

		{# Summary list for name, email, phone and address #}
		{{ govukSummaryList({
			rows: [
				{
					key: {
						text: "Name"
					},
					value: {
						text: nameValue
					},
					actions: {
						items: [
							{
								href: "/internal/contact/edit-name?contactID=" + data.contactID + "&ID=" + data.ID,
								text: "Change" if nameValue else "Add",
								visuallyHiddenText: "name"
							}
						]
					}
				},
				{
					key: {
						text: "Email address"
					},
					value: {
						text: emailValue
					},
					actions: {
						items: [
							{
								href: "/internal/contact/edit-email?contactID=" + data.contactID + "&ID=" + data.ID,
								text: "Change" if emailValue else "Add",
								visuallyHiddenText: "email address"
							}
						]
					}
				},
				{
					key: {
						text: "Address"
					},
					value: {
						text: addressValue
					},
					actions: {
						items: [
							{
								href: "/internal/contact/edit-address?contactID=" + data.contactID + "&ID=" + data.ID,
								text: "Change" if addressValue else "Add",
								visuallyHiddenText: "postal address"
							}
						]
					}
				},
				{
					key: {
						text: "Phone number"
					},
					value: {
						text: phoneValue
					},
					actions: {
						items: [
							{
								href: "/internal/contact/edit-phone?contactID=" + data.contactID + "&ID=" + data.ID,
								text: "Change" if phoneValue else "Add",
								visuallyHiddenText: "phone number"
							}
						]
					}
				}
			]
		}) }}


		{# Confirm or cancel buttons #}
		{% set confirmAction = "/internal/contact/edit-contact?contactID=" + data.contactID + "&ID=" + data.ID %}
		{% if data.customerID %}
			{% set confirmAction = confirmAction + "&customerID=" + data.customerID %}
		{% endif %}
		{% if data.from %}
			{% set confirmAction = confirmAction + "&from=" + data.from %}
		{% endif %}
		<form method="post" action="{{ confirmAction }}">

		<div class="govuk-button-group">
			{{ govukButton({
			text: "Confirm",
			classes: "govuk-!-margin-right-3",
			type: "submit"
			}) }}
			{% set cancelHref = "/internal/contact/cancel?contactID=" + data.contactID + "&ID=" + data.ID %}
			{% if data.customerID %}
				{% set cancelHref = cancelHref + "&customerID=" + data.customerID %}
			{% endif %}
			{{ govukButton({
			text: "Cancel",
			href: cancelHref,
			classes: "govuk-button--secondary"
			}) }}
		</div>
		
	</form>

	</div>
</div>

{% endblock %}

