{% extends "layouts/main-internal.html" %}

{% set pageName="Should they get water abstraction alerts?" %}
{% set licence = data['licences'][data.ID] %}
{% set contact = data['contacts'][data.contactID] %}
{% set breadcrumbType="licence" %}
{% set customerName = licence.holder %}
{% if contact.customers and contact.customers.length %}
	{% set customerName = contact.customers[0].customer %}
	{% for customerEntry in contact.customers %}
		{% if customerEntry.customer == licence.holder %}
			{% set customerName = customerEntry.customer %}
		{% endif %}
	{% endfor %}
{% endif %}

{% block containerStart %}
{{ govukBackLink({
	href: "/internal/contact/edit-contact?contactID=" + data.contactID + "&ID=" + data.ID,
  text: "Back to update contact"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

		<span class="govuk-caption-l">{{ customerName }}</span>
		<h1 class="govuk-heading-l govuk-!-margin-bottom-4">
			{{ pageName }}
		</h1>

		{% set WAAStatus = "No" %}
		{% for customerEntry in contact.customers %}
			{% if customerEntry.customer == customerName %}
				{% for notice in customerEntry.notices %}
					{% if notice.type == "Water abstraction alerts by email" %}
						{% if notice.licences == "all" %}
							{% set WAAStatus = "Yes, for all licences" %}
						{% elif WAAStatus != "Yes, for all licences" %}
							{% set WAAStatus = "Yes, for some licences" %}
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}

		<form method="post" action="/internal/contact/edit-waa?contactID={{ data.contactID }}&ID={{ data.ID }}">

		{{ govukRadios({
			name: "waaOption",
			items: [
				{
					value: "all",
					text: "Yes, for all licences",
					checked: WAAStatus == "Yes, for all licences"
				},
				{
					value: "some",
					text: "Yes, for some licences",
					checked: WAAStatus == "Yes, for some licences"
				},    
				{
      	divider: "or"
    		},
				{
					value: "no",
					text: "No",
					checked: WAAStatus == "No"
				}
			]
		}) }}

		{{ govukButton({
		text: "Continue",
		classes: "govuk-!-margin-right-3",
		type: "submit"
		}) }}

		</form>

	</div>
</div>

{% endblock %}
