{% extends "layouts/main-internal.html" %}

{% set pageName="Select the licences they should get returns emails for" %}
{% set licence = data['licences'][data.ID] %}
{% set contact = data['contacts'][data.contactID] %}
{% set breadcrumbType="licence" %}
{% set customerName = licence.holder %}
{% if contact.customers and contact.customers.length %}
	{% set customerName = contact.customers[0].customer %}
	{% for customerEntry in contact.customers %}
		{% if customerEntry.customer == licence.holder %}
			{% set customerName = customerEntry.customer %}
		{% endif %}
	{% endfor %}
{% endif %}

{% block containerStart %}
{{ govukBackLink({
	href: "/internal/contact/edit-contact?contactID=" + data.contactID + "&ID=" + data.ID,
  text: "Back to update contact"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

		<span class="govuk-caption-l">{{ customerName }}</span>
		<h1 class="govuk-heading-l govuk-!-margin-bottom-4">
			{{ pageName }}
		</h1>

		{% set customerLicenceNumbers = [] %}
		{% for customerLicence in data.licences %}
			{% if customerLicence.holder == customerName %}
				{% set customerLicenceNumbers = customerLicenceNumbers | push(customerLicence.number) %}
			{% endif %}
		{% endfor %}

		{% set selectedReturnsLicences = [] %}
		{% set selectAllReturnsLicences = false %}

		{% if data.pendingChanges and data.pendingChanges.returnsLicences is defined and data.pendingChanges.returnsLicences is iterable and data.pendingChanges.returnsLicences is not string %}
			{% set selectedReturnsLicences = data.pendingChanges.returnsLicences %}
		{% else %}
			{% for customerEntry in contact.customers %}
				{% if customerEntry.customer == customerName %}
					{% for notice in customerEntry.notices %}
						{% if notice.type == "Returns by email" %}
							{% if notice.licences == "all" %}
								{% set selectAllReturnsLicences = true %}
							{% elif notice.licences is iterable and notice.licences is not string %}
								{% set selectedReturnsLicences = notice.licences %}
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		{% endif %}

		{% if selectAllReturnsLicences %}
			{% set selectedReturnsLicences = customerLicenceNumbers %}
		{% endif %}

		{% set returnsCheckboxItems = [] %}
		{% for licenceNumber in customerLicenceNumbers %}
			{% set returnsCheckboxItems = returnsCheckboxItems | push({
				value: licenceNumber,
				text: licenceNumber,
				checked: true if licenceNumber in selectedReturnsLicences else false
			}) %}
		{% endfor %}

		{% set selectReturnsAction = "/internal/contact/select-returns?contactID=" + data.contactID + "&ID=" + data.ID %}
		{% if data.from %}
			{% set selectReturnsAction = selectReturnsAction + "&from=" + data.from %}
		{% endif %}

		<form method="post" action="{{ selectReturnsAction }}">

		{{ govukCheckboxes({
			name: "returnsSelectionOptions",
			hint: {
				text: "Select all that apply"
			},
			items: returnsCheckboxItems
		}) }}

		{{ govukButton({
		text: "Continue",
		classes: "govuk-!-margin-right-3",
		type: "submit"
		}) }}

		</form>

	</div>
</div>

{% endblock %}
