{% extends "layouts/main-internal.html" %}

{% set pageName="Billing Accounts" %}
{% set breadcrumbType="billing" %}
{% set billing = true %}

{% block containerStart %}
{% include "internal/_includes/breadcrumbs-internal.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-one-quarter">

    {% include "internal/_includes/subnav-customer.html" %}

    </div>
    
    <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Customer {{[data.customers[data.customerID]['name']]}}</span>
     {{pageName}}
    </h1>

    {% set currentCustomer = data.customers[data.customerID]['name'] %}
    {% set accountRows = [] %}
    {% for account in data.billingAccounts %}
      {% if account.customer == currentCustomer %}
        {% for customer in data.customers %}
          {% if customer.name == account.customer %}
            {% set addressHtml = account.customer + "<br>" %}
            {% if account.billingContact %}
              {% set addressHtml = addressHtml + "c/o " + account.billingContact + "<br>" %}
            {% endif %}
            {% set addressHtml = addressHtml + customer.address1 + ",<br> " + customer.city + "<br> " + customer.postcode %}
            {% set _ = accountRows.push([
              { text: account.number },
              { html: addressHtml }
            ]) %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

    {{ govukTable({
      caption: "Showing all billing accounts",
      head: [
        {
          text: "Account number"
        },
        {
          text: "Address"
        }
      ],
      rows: accountRows
    }) }}
    
    </div>

  </div>
{% endblock %}

