{% extends "layouts/main-internal.html" %}

{% set pageName="Billing Accounts" %}
{% set breadcrumbType="billing" %}
{% set billing = true %}

{% block containerStart %}
{% include "internal/_includes/breadcrumbs-internal.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-one-quarter">

    {% include "internal/_includes/subnav-customer.html" %}

    </div>
    
    <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Customer {{[data.customers[data.customerID]['name']]}}</span>
     {{pageName}}
    </h1>

    {{ govukTable({
      caption: "Showing all billing accounts",
      head: [
        {
          text: "Account number"
        },
        {
          text: "Address"
        }
      ],
      rows: [
        [
          {
            text: "BA1234567A"
          },
          {
            html: "500 Broad street,<br> London<br> E13 SWJ"
          }
        ]
      ]
    }) }}
    
    </div>

  </div>
{% endblock %}

