{% extends "layouts/main-internal.html" %}

{% set pageName="Contacts" %}
{% set breadcrumbType="contacts" %}
{% set contacts = true %}

{% block containerStart %}
{% include "internal/_includes/breadcrumbs-internal.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-one-quarter">

    {% include "internal/_includes/subnav-customer.html" %}

    </div>
    
    <div class="govuk-grid-column-three-quarters">

    {% if showContactRemovedBanner %}
    {{ govukNotificationBanner({
      text: "Contact removed"
    }) }}
    {% endif %}

    <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Customer {{[data.customers[data.customerID]['name']]}}</span>
     {{pageName}}
    </h1>

    {{ govukButton({
      text: "Set up a new contact",
      classes: "govuk-!-margin-bottom-4",
      href: "/internal/contact/add-contact?customerID=" + data.customerID
    }) }}

    {% include "internal/_includes/contacts-filter.html" %}

    {% include "internal/_includes/contacts-table.html" %}
    
    </div>

  </div>
{% endblock %}

