{% extends "layouts/main-prototype.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <h1 class="govuk-heading-l">Prototype index</h1>

  <h2 class="govuk-heading-m">Internal</h2>
    <p class="govuk-body">
    <a href="internal/search" class="govuk-link govuk-link--no-visited-state">Search</a><br>
    <a href="internal/customers" class="govuk-link govuk-link--no-visited-state">Customers</a><br>

    </p>

  <h2 class="govuk-heading-m">External</h2>
    <p class="govuk-body">
    <a href="external/" class="govuk-link govuk-link--no-visited-state">Sign in or create an account</a>
    </p>

  </div>
</div>

{% endblock %}
