{% extends "layouts/main-prototype.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  <h1 class="govuk-heading-l">Manage your water abstraction or impoundment licence prototype</h1>

  <p class="govuk-body govuk-!-margin-bottom-7">
    This prototype is managed by interaction designer <a href="mailto:gen.heald@defra.gov.uk">Gen Heald</a><br>
  </p>

  {# Latest versions #}
  <table class="govuk-table govuk-!-margin-bottom-9">
    {# <caption class="govuk-table__caption govuk-table__caption--m">Current version:</caption> #}
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Journey</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Links</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Notes</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Internal service</th>
        <td class="govuk-table__cell">
          <a href="internal/search" class="govuk-link govuk-link--no-visited-state">Search</a><br>
          <a href="internal/customers" class="govuk-link govuk-link--no-visited-state">Customers</a>
        </td>
        <td class="govuk-table__cell">Initial prototype setup</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">External service</th>
        <td class="govuk-table__cell">
          <a href="external/index" class="govuk-link govuk-link--no-visited-state">Sign in or create an account</a><br>
          <a href="external/licences" class="govuk-link govuk-link--no-visited-state">Your licences</a>
        </td>
        <td class="govuk-table__cell">Initial prototype setup</td>
      </tr>
    </tbody>
  </table>



  </div>
</div>

{% endblock %}
