{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
    
  {{ govukHeader({
  homepageUrl: "/"
  }) }}

  {% if not hideServiceNavigation %}
  {{ govukServiceNavigation({
      serviceName: serviceName,
      serviceUrl: "/external/",
      navigation: [
          {
              text: "View licences",
              href: "/external/licences",
              active: activeNavigation == "View licences"
          },
          {
              text: "Manage returns",
              href: "/external/manage-returns",
              active: activeNavigation == "Manage returns"
          },
          {
              text: "Add licences or give access",
              href: "/external/manage-licences",
              active: activeNavigation == "Add licences or give access"
          }
      ]
  }) }}
  {% endif %}

  {{ govukPhaseBanner({
      tag: {
          text: "Prototype"
      },
      html: 'This is a service prototype.'
  }) }}

{% endblock %}


{% block footer %}

  {{ govukFooter({
    meta: {
      visuallyHiddenTitle: "Footer links",
      items: [
        {
          href: "#",
          text: "Privacy"
        },
        {
          href: "#",
          text: "Cookies"
        },
        {
          href: "#",
          text: "Accessibility statement"
        },
        {
          href: "/manage-prototype",
          text: "Manage your prototype"
        },
        {
          href: "/manage-prototype/clear-data",
          text: "Clears data"
        }
      ]
    }
  }) }}

{% endblock %}