{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set bodyClasses = "app-layout-internal" %}

{% block header %}
    
  {{ govukHeader({
  homepageUrl: "/"
  }) }}

  {{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: "/internal/search",
    navigation: [
      {
      text: "Search",
      href: "/internal/search",
      active: currentPath == "/internal/search"
      },
      {
      text: "Customers",
      href: "/internal/customers",
      active: currentPath == "/internal/customers" or currentPath == "/internal/customer" or currentPath == "/internal/licence"
      },
      {
      text: "Bill runs",
      href: "/internal/no-page.html",
      active: false
      },
      {
      text: "Manage",
      href: "/internal/no-page.html",
      active: false
      }
    ]
  }) }}

  {{ govukPhaseBanner({
      tag: {
          text: "Prototype"
      },
      html: 'This is a service prototype.'
  }) }}

{% endblock %}


{% block footer %}

  {{ govukFooter({
    meta: {
      visuallyHiddenTitle: "Footer links",
      items: [
        {
          href: "/internal/no-page.html",
          text: "Cookies"
        },
        {
          href: "/internal/no-page.html",
          text: "Privacy"
        },
        {
          href: "/internal/no-page.html",
          text: "Accessibility"
        },
        {
          href: "/manage-prototype",
          text: "Manage your prototype"
        },
        {
          href: "/manage-prototype/clear-data",
          text: "Clears data"
        }
      ]
    }
  }) }}

{% endblock %}