{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
    
{{ govukHeader({
  homepageUrl: "#"
}) }}

 {{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
        {
            text: "Search",
            href: "#"
        },
        {
            text: "Customers",
            href: "#"
        },
        {
            text: "Bill runs",
            href: "#"
        },
        {
            text: "Manage",
            href: "#"
        }
    ]
}) }}

{{ govukPhaseBanner({
    tag: {
        text: "Prototype"
    },
    html: 'This is a service prototype.'
}) }}

{% endblock %}